/* Nav bar css */

.human-nav-right {
    margin-left: 49%;
}

.human-footer {
    color: white;
    padding: 12px;
}

.human-index-main {
    margin-bottom: 18.1%;
    margin-top: 16%;
}

/* feature css */

.human-hidden {display: none;}